heat-wave/src/main/resources/urlTesters.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://spring.io/guides/gs-producing-web-service"
           targetNamespace="http://spring.io/guides/gs-producing-web-service" elementFormDefault="qualified">

    <xs:element name="TestYourURLS">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="TEST" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="URLSTested">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="TESTED" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>